<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Recipes App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="toggle" />

<div class="nav-scrollable" onclick="document.querySelector('.toggle').checked = false">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-ul" aria-hidden="true"></span> All Recipes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="recipe/new">
                <span class="bi bi-plus-circle" aria-hidden="true"></span> New Recipe
            </NavLink>
        </div>
    </nav>
</div>

